/* global style */
.primary-clr {
    background-color: #1976D2;
}

.secondary-clr {
    background-color: #BA68C8;
}

/* global style end */
.learn {
    background-color: #F4FAFD;
}

footer {
    background-color: #535B80;
}

/* banner slider end */

.accordion .accordion-button.collapsed {
    background-color: #2196F3;
}

.accordion .accordion-button {
    background-color: #BA68C8;
    color: #fff;
}